#### **Draft con primeros pasos ETL dataset Cost of Living**

1. Extracción datos raw del csv Cost of Living. 
2. Análisis explotario superficial de variables, volumen de nulos por variable y datos estadísticos generales. 
3. Elaboración de mapping de variables: incorporamos csv con nuevos nombres de variables (nombres descriptivos) y tipo de coste de esas variable. 
4. Incorporamos ese mapping en csv a la carpeta /src/data/ y /src/norebooks/data, además del README del respositorio. 
5. Renombramos columnas de variables para disponer de un naming de negocio que ayude al EDA posterior. 
6. Análisis de nulos por variable. 
7. Limpieza de los datos para disponer de un dataset totalmente preparado para el análisis posterior. 
8. Proceso de ingeniería de características para tener variables que permitan un análisis mejor ponderado. Alguna variables aisladas no tienen una narrativa de negocio.

##### **1. Extracción de datos raw del Dataset 2 — [Cost of Living](https://www.kaggle.com/datasets/mvieira101/global-cost-of-living/code)**

Duplicamos la carpeta de los datasets dentro de la carpeta /src/notebooks/ para facilitar la extracción de los datos

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

pd.options.mode.copy_on_write = True # CoW por defecto a partir de pandas 3.0.0

In [7]:
# Extraigo y examino algunos de los datos que devuelve el dataset
# Aquí puede haber una primer decisión que sea trabajar con variables con nombres agnóstico o cambiarlos por los nombres descriptivos
# En principio tiene sentido cambiarlos por los nombres descriptivos si queremos hacer un análisis exploratorio para resolver problemas de negocio reales

df_cost = pd.read_csv("./data/cost-of-living.csv")
df_cost

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
0,Seoul,South Korea,7.68,53.78,6.15,3.07,4.99,3.93,1.48,0.79,...,110.36,742.54,557.52,2669.12,1731.08,22067.70,10971.90,2689.62,3.47,1
1,Shanghai,China,5.69,39.86,5.69,1.14,4.27,3.98,0.53,0.33,...,123.51,1091.93,569.88,2952.70,1561.59,17746.11,9416.35,1419.87,5.03,1
2,Guangzhou,China,4.13,28.47,4.98,0.85,1.71,3.54,0.44,0.33,...,43.89,533.28,317.45,1242.24,688.05,12892.82,5427.45,1211.68,5.19,1
3,Mumbai,India,3.68,18.42,3.68,2.46,4.30,2.48,0.48,0.19,...,41.17,522.40,294.05,1411.12,699.80,6092.45,2777.51,640.81,7.96,1
4,Delhi,India,4.91,22.11,4.30,1.84,3.68,1.77,0.49,0.19,...,36.50,229.84,135.31,601.02,329.15,2506.73,1036.74,586.46,8.06,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4951,Peterborough,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4952,Georgetown,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4953,Ixtapa Zihuatanejo,Mexico,5.16,30.94,12.89,0.98,NaN,1.80,0.62,0.41,...,103.14,412.55,257.84,515.69,412.55,NaN,NaN,NaN,NaN,0
4954,Iqaluit,Canada,29.65,74.27,13.71,6.67,8.89,3.71,3.52,4.08,...,NaN,NaN,NaN,2964.60,2964.60,NaN,NaN,NaN,6.53,0
4955,Neiafu,Tonga,NaN,29.79,10.64,10.64,NaN,NaN,2.13,2.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

##### **2. Análisis exploratorio de variables del Dataset 2 — [Cost of Living](https://www.kaggle.com/datasets/mvieira101/global-cost-of-living/code)**

Visualizamos algunos datos generales del dataset (especificidad, nulos y datos estadísticos generales)

In [ ]:
# Visualizamos 10 filas del dataset para hacernos una idea de la relación entre variables (columnas)

df_cost.head(10)

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
0,Seoul,South Korea,7.68,53.78,6.15,3.07,4.99,3.93,1.48,0.79,...,110.36,742.54,557.52,2669.12,1731.08,22067.70,10971.90,2689.62,3.47,1
1,Shanghai,China,5.69,39.86,5.69,1.14,4.27,3.98,0.53,0.33,...,123.51,1091.93,569.88,2952.70,1561.59,17746.11,9416.35,1419.87,5.03,1
2,Guangzhou,China,4.13,28.47,4.98,0.85,1.71,3.54,0.44,0.33,...,43.89,533.28,317.45,1242.24,688.05,12892.82,5427.45,1211.68,5.19,1
3,Mumbai,India,3.68,18.42,3.68,2.46,4.30,2.48,0.48,0.19,...,41.17,522.40,294.05,1411.12,699.80,6092.45,2777.51,640.81,7.96,1
4,Delhi,India,4.91,22.11,4.30,1.84,3.68,1.77,0.49,0.19,...,36.50,229.84,135.31,601.02,329.15,2506.73,1036.74,586.46,8.06,1
5,Dhaka,Bangladesh,1.95,11.71,4.88,5.85,5.12,1.95,0.29,0.16,...,41.53,142.09,87.79,347.57,208.50,1119.98,571.72,280.73,9.26,1
6,Osaka,Japan,7.45,48.39,5.36,3.35,3.72,3.28,1.09,0.81,...,132.61,674.96,376.14,1737.21,993.17,8043.38,4825.58,2322.46,1.49,1
7,Jakarta,Indonesia,2.59,22.69,3.57,2.06,3.24,2.23,0.61,0.27,...,79.85,505.59,277.43,1172.14,615.04,2632.80,1241.09,509.12,9.05,1
8,Shenzhen,China,4.27,28.47,4.98,1.14,3.99,4.20,0.47,0.34,...,106.77,738.75,435.07,1682.30,886.16,17898.73,8091.57,1572.22,4.99,1
9,Kinshasa,Congo,15.11,42.63,10.08,1.74,2.50,4.35,2.78,0.84,...,93.33,2000.00,725.00,4500.00,1160.00,6170.63,933.33,400.00,19.33,0

In [3]:
df_cost.info() 

# Aquí observamos que hay variables que tienen nulos 
# Las columnas de ciudad, país y data_quality no tiene números faltantes --> total: 4956 non-null

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4956 entries, 0 to 4955
Data columns (total 58 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          4956 non-null   object
 1   country       4956 non-null   object
 2   x1            4528 non-null   float64
 3   x2            4505 non-null   float64
 4   x3            4622 non-null   float64
 5   x4            4460 non-null   float64
 6   x5            4516 non-null   float64
 7   x6            4612 non-null   float64
 8   x7            4511 non-null   float64
 9   x8            4640 non-null   float64
 10  x9            4578 non-null   float64
 11  x10           4543 non-null   float64
 12  x11           4613 non-null   float64
 13  x12           4449 non-null   float64
 14  x13           4478 non-null   float64
 15  x14           4398 non-null   float64
 16  x15           4390 non-null   float64
 17  x16           4584 non-null   float64
 18  x17           4575 non-null   float64
 19  x18           4515 non-null   float64
 20  x19           4487 non-null   float64
 21  x20           4519 non-null   float64
 22  x21           4523 non-null   float64
 23  x22           4455 non-null   float64
 24  x23           4568 non-null   float64
 25  x24           4494 non-null   float64
 26  x25           4235 non-null   float64
 27  x26           4301 non-null   float64
 28  x27           4466 non-null   float64
 29  x28           3450 non-null   float64
 30  x29           2790 non-null   float64
 31  x30           4083 non-null   float64
 32  x31           3934 non-null   float64
 33  x32           3560 non-null   float64
 34  x33           4368 non-null   float64
 35  x34           3898 non-null   float64
 36  x35           3961 non-null   float64
 37  x36           4468 non-null   float64
 38  x37           3755 non-null   float64
 39  x38           4607 non-null   float64
 40  x39           3581 non-null   float64
 41  x40           2556 non-null   float64
 42  x41           4481 non-null   float64
 43  x42           3824 non-null   float64
 44  x43           3275 non-null   float64
 45  x44           4477 non-null   float64
 46  x45           4339 non-null   float64
 47  x46           4453 non-null   float64
 48  x47           4403 non-null   float64
 49  x48           3593 non-null   float64
 50  x49           3525 non-null   float64
 51  x50           3476 non-null   float64
 52  x51           3444 non-null   float64
 53  x52           2729 non-null   float64
 54  x53           2653 non-null   float64
 55  x54           3524 non-null   float64
 56  x55           3950 non-null   float64
 57  data_quality  4956 non-null   int64
dtypes: float64(55), int64(1), object(2)
memory usage: 2.2+ MB

In [4]:
df_cost.describe() # Aquí vemos algunos datos estadísticos generales del dataset

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
count,4528.000000,4505.000000,4622.000000,4460.000000,4516.000000,4612.000000,4511.000000,4640.000000,4578.000000,4543.000000,...,4403.000000,3593.000000,3525.000000,3476.000000,3444.000000,2729.000000,2653.000000,3524.000000,3950.000000,4956.000000
mean,10.346705,43.357811,6.929697,3.379774,3.942465,2.754952,1.523873,1.119804,1.148554,1.612855,...,85.976357,711.574943,560.159957,1253.982914,974.082854,3235.270854,2341.933102,1821.186305,6.518030,0.186239
std,7.157058,25.528312,2.704435,2.105957,2.100146,1.358821,0.907025,0.755257,0.517186,1.089164,...,40.434524,648.869301,527.492342,1219.395297,921.331271,6258.792897,3570.623878,1631.465580,5.413828,0.389339
min,0.450000,3.250000,1.080000,0.330000,0.310000,0.220000,0.110000,0.070000,0.260000,0.050000,...,7.600000,21.700000,12.200000,61.510000,27.120000,111.010000,49.240000,18.000000,0.780000,0.000000
25%,4.310000,22.440000,4.980000,1.600000,2.200000,1.580000,0.770000,0.480000,0.830000,0.780000,...,58.430000,256.240000,171.050000,465.200000,325.710000,1120.110000,790.310000,478.980000,3.000000,0.000000
50%,9.600000,40.000000,6.990000,3.000000,3.690000,2.630000,1.480000,1.050000,1.045000,1.320000,...,84.260000,526.870000,403.940000,921.075000,712.830000,2107.490000,1580.620000,1290.840000,5.200000,0.000000
75%,15.000000,60.000000,8.500000,5.000000,5.270000,3.770000,2.110000,1.580000,1.320000,2.200000,...,106.770000,992.610000,790.310000,1710.225000,1369.870000,3843.380000,2798.250000,2770.855000,8.330000,0.000000
max,57.140000,213.690000,22.130000,20.600000,17.500000,10.000000,8.000000,5.850000,6.810000,8.820000,...,542.740000,12608.830000,8989.370000,27397.380000,17868.180000,240963.670000,80321.220000,12821.400000,61.330000,1.000000

##### **3. Elaboración de mapping de variables del Dataset 2 — [Cost of Living](https://www.kaggle.com/datasets/mvieira101/global-cost-of-living/code)**

Generamos un mapa que nos permita renombrar las variables del dataset Cost of Living con nombres que ayuden al análisis de negocio

In [13]:
# Cargamos un CSV con los nombres de las variables nuevos y además incorporamos una columna descriptiva del tipo de coste. 
# La columna de tipo de coste nos puede ayudar a clusterizar las variables, agruparlas y calcular métricas interesantes para el análisis 

pd.read_csv("./data/cost-of-living-vars-map.csv")

,original_name_var,name_var,description_var,cost_type
0,city,city_name,City name,NaN
1,country,country_name,Country name,NaN
2,x1,meal_inexpensive_restaurant,"Meal, Inexpensive Restaurant (USD)",Restaurantes y bebidas
3,x2,meal_midrange_restaurant_2p,"Meal for 2 People, Mid-Range Restaurant, Three...",Restaurantes y bebidas
4,x3,mcmeal_fastfood,McMeal at McDonald’s (or Equivalent Combo Meal...,Restaurantes y bebidas
5,x4,beer_domestic_restaurant_0_5l,"Domestic Beer (0.5 liter draught, in restauran...",Restaurantes y bebidas
6,x5,beer_imported_restaurant_0_33l,"Imported Beer (0.33 liter bottle, in restauran...",Restaurantes y bebidas
7,x6,cappuccino_restaurant,"Cappuccino (regular, in restaurant) (USD)",Restaurantes y bebidas
8,x7,soda_restaurant_0_33l,"Coke/Pepsi (0.33 liter bottle, in restaurant) ...",Restaurantes y bebidas
9,x8,water_restaurant_0_33l,"Water (0.33 liter bottle, in restaurant) (USD)",Restaurantes y bebidas
10,x9,milk_1l,"Milk (regular), 1 liter (USD)",Supermercado – alimentación básica
11,x10,bread_white_500g,Loaf of Fresh White Bread (500g) (USD),Supermercado – alimentación básica
12,x11,rice_white_1kg,White Rice (1kg) (USD),Supermercado – alimentación básica
13,x12,eggs_12,Eggs (regular) (12) (USD),Supermercado – alimentación básica
14,x13,cheese_local_1kg,Local Cheese (1kg) (USD),Supermercado – alimentación básica
15,x14,chicken_fillet_1kg,Chicken Breasts (1kg) (USD),Supermercado – alimentación básica
16,x15,beef_1kg,Beef Round (1kg) (or equivalent red meat) (USD),Supermercado – alimentación básica
17,x16,apples_1kg,Apples (1kg) (USD),Supermercado – alimentación básica
18,x17,bananas_1kg,Bananas (1kg) (USD),Supermercado – alimentación básica
19,x18,oranges_1kg,Oranges (1kg) (USD),Supermercado – alimentación básica
20,x19,tomatoes_1kg,Tomatoes (1kg) (USD),Supermercado – alimentación básica
21,x20,potatoes_1kg,Potatoes (1kg) (USD),Supermercado – alimentación básica
22,x21,onions_1kg,Onions (1kg) (USD),Supermercado – alimentación básica
23,x22,lettuce_1unit,Lettuce (1 head) (USD),Supermercado – alimentación básica
24,x23,water_1_5l_supermarket,"Water (1.5 liter bottle, in supermarket) (USD)",Supermercado – bebidas y otros
25,x24,wine_midrange_supermarket,"Bottle of Wine (Mid-Range, in supermarket) (USD)",Supermercado – bebidas y otros
26,x25,beer_domestic_supermarket_0_5l,"Domestic Beer (0.5 liter bottle, in supermarke...",Supermercado – bebidas y otros
27,x26,beer_imported_supermarket_0_33l,"Imported Beer (0.33 liter bottle, in supermark...",Supermercado – bebidas y otros
28,x27,cigarettes_pack_marlboro,Cigarettes 20 Pack (Marlboro) (USD),Supermercado – bebidas y otros
29,x28,public_transport_ticket_one_way,One-way Ticket (Local Transport) (USD),Transporte
30,x29,public_transport_monthly_pass,Monthly Pass (Regular Price) (USD),Transporte
31,x30,taxi_start_fare,Taxi Start (Normal Tariff) (USD),Transporte
32,x31,taxi_per_km,Taxi 1km (Normal Tariff) (USD),Transporte
33,x32,taxi_waiting_1h,Taxi 1 hour Waiting (Normal Tariff) (USD),Transporte
34,x33,gasoline_1l,Gasoline (1 liter) (USD),Transporte
35,x34,car_vw_golf_new,Volkswagen Golf 1.4 90 KW Trendline (or equiva...,Vehículos (compra)
36,x35,car_toyota_corolla_new,Toyota Corolla Sedan 1.6l 97kW Comfort (or equ...,Vehículos (compra)
37,x36,utilities_85sqm,"Basic Utilities (Electricity, Heating, Cooling...",Vivienda y suministros
38,x37,mobile_prepaid_1min,1 min. of Prepaid Local Mobile Tariff (No Disc...,Vivienda y suministros
39,x38,internet_60mbps_unlimited,"Internet (60 Mbps or More, Unlimited Data, Cab...",Vivienda y suministros
40,x39,gym_monthly_membership,"Fitness Club, Monthly Fee for 1 Adult (USD)",Ocio y estilo de vida
41,x40,tennis_court_1h_weekend,Tennis Court Rent (1 Hour on Weekend) (USD),Ocio y estilo de vida
42,x41,cinema_ticket,"Cinema, International Release, 1 Seat (USD)",Ocio y estilo de vida
43,x42,private_preschool_monthly,"Preschool (or Kindergarten), Full Day, Private...",Educación y cuidado infantil
44,x43,international_primary_school_yearly,"International Primary School, Yearly for 1 Chi...",Educación y cuidado infantil
45,x44,jeans_levis_501,1 Pair of Jeans (Levis 501 or Similar) (USD),Ropa y calzado
46,x45,summer_dress_chain_store,"1 Summer Dress in a Chain Store (Zara, H&M, et...",Ropa y calzado
47,x46,nike_running_shoes,1 Pair of Nike Running Shoes (Mid-Range) (USD),Ropa y calzado
48,x47,leather_business_shoes,1 Pair of Men's Leather Business Shoes (USD),Ropa y calzado
49,x48,rent_1br_city_center,Apartment (1 bedroom) in City Centre (USD),Vivienda – alquiler y compra
50,x49,rent_1br_outside_center,Apartment (1 bedroom) Outside of Centre (USD),Vivienda – alquiler y compra
51,x50,rent_3br_city_center,Apartment (3 bedrooms) in City Centre (USD),Vivienda – alquiler y compra
52,x51,rent_3br_outside_center,Apartment (3 bedrooms) Outside of Centre (USD),Vivienda – alquiler y compra
53,x52,price_sqm_city_center,Price per Square Meter to Buy Apartment in Cit...,Vivienda – alquiler y compra
54,x53,price_sqm_outside_center,Price per Square Meter to Buy Apartment Outsid...,Vivienda – alquiler y compra
55,x54,avg_net_salary,Average Monthly Net Salary (After Tax) (USD),Economía y financiación
56,x55,mortgage_interest_rate_20y,"Mortgage Interest Rate (%), Yearly, for 20 Yea...",Economía y financiación
57,data_quality,data_quality_flag,0 if Numbeo believes more contributors are nee...,Calidad de los datos

##### **5. Renombramos columnas de variables para disponer de un naming de negocio del Dataset 2 — [Cost of Living](https://www.kaggle.com/datasets/mvieira101/global-cost-of-living/code)**

Renombramos todas las columnas e incorporamos la columnas de cost_type que ayude al EDA posterior